* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    height: 220vh;
    position: relative;
}
.contianer{
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.header{
    height: 7rem;
    display: flex;
    background-color: #21c444;
    background: linear-gradient(60deg, rgb(225, 105, 7),#e5b405,rgb(218, 135, 10));
}
nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: #fff;
    margin: auto;
}
.left-section{
    width: 5rem;
    cursor: pointer;
}
.right-section{
    display: flex;
    cursor: pointer;
    font-size: 20px;
}
.nav{
    display: flex;
    gap: 1rem;
}
.nav-link{
    list-style: none;
    cursor: pointer;
    font-size: 20px;
}
.nav-link a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    position: relative;
}

.nav-link a:hover{
    color: rgb(245, 12, 12);
}
.nav-link a::before{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5rem;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
    height: 1px;
    transition: all 0.3s;
}
.nav-link a:hover::before{
    width: 100px;
}




.search{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 160px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 5px #ff6600;
    overflow: hidden
}
.search.active{
    width: 360px;
}
.search .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}
.search .icon::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #ff6600;
    border-radius: 50%;
    transform: translate(-4px,-4px);
}
.search .icon::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: #ff6600;
    transform: translate(6px,6px) rotate(315deg);
}
.search .input{
    position: relative;
    width: 300px;
    height: 20px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 0;
}
.clear{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}
.clear::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}


.small-container{
    max-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 20px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.single-product{
    margin-top: 80px;
}
.small-img-row{
    display: flex;
    justify-content: space-around;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    margin-left: 40px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.col-2 h4{
    margin: 20px 0;
    font-size: 40px;
    color: #ff6600;
    font-weight: bold;
}
.col-2 input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}

.col-2 a{
    text-decoration: none;
    color: #000000;
}
.col-2 .fa{
    color: #ff523b;
    margin-left: 10px;
}
p{
    color: #555;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}



footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, rgb(225, 105, 7),#e5b405,rgb(218, 135, 10));
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 100px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.logo{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    margin: 20px 0;
    text-decoration: underline;
}
.col ul li{
    list-style: none;
    margin-bottom: 12px;
}
.col ul li a{
    text-decoration: none;
    color: #fff;
}

.col ul li a:hover{
    text-decoration: underline;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .fa-solid{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button  .fa-solid{
    font-size: 16px;
    color: #ffffff;
}
.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
footer p{
    color: #fff;
}

.icon{
    text-decoration: none;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #ffffff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving {
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
    
}